<h1>Create Running Group</h1>
<form action="../running_group/create" method="post" id="profile_update" class="col-md-6">         
    <div class="text-input-container">
        <input name= "name" type="text" class="form-control" placeholder="Running Group Name" value={{@name}}>
        <input name= "pace" type="text" class="form-control" placeholder="Pace"  value={{@pace}}>
        <input name= "phone" type="text" class="form-control" placeholder="Phone Number"  value={{@phone}}>
        <input name= "city" type="text" class="form-control" placeholder="City"  value={{@city}}>
        <input name= "state" type="text" class="form-control" placeholder="State"  value={{@state}}>
        <input name= "zipcode" type="text" class="form-control" placeholder="Zipcode"  value={{@zipcode}}>
    </div><br>
    <button type="submit" class="btn btn-primary">Create</button>
</form>