

<h1>Create Race</h1>
<form action="../admin/createrace/" method="post">
    <div class="text-input-container">
        <input type="text" id="name" name="name" title="Name" value={{@name}}>
        <label for="name">Name</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="distance" name="distance" value={{@distance}}>
        <label for="distance">Distance</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="email" name="email" value={{@email}}>
        <label for="email">Email</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="phone" name="phone" value={{@phone}}>
        <label for="phone">Phone Number</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="city" name="city" value={{@city}}>
        <label for="city">City</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="state" name="state" value={{@state}}>
        <label for="state">State</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="zipcode" name="zipcode" value={{@zipcode}}>
        <label for="zipcode">Zipcode</label>
    </div>
    <button class="button primary" type="submit" onclick=alert("Created!")>Create</button>
    <button title="Large Button" type="reset" class="button primary">Reset</button>
</form>