<div class="container">

    <section class=" row">
     
        <form action="../admin/createrace/" method="post" class="col-md-4">
           <a href="#" VALUE="Back" onClick="history.go(-1);">
            <i class="fas fa-chevron-left goBack"></i> Back
        </a>

            <h1>Create Race</h1><br>
            <div class="text-input-container">
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" title="Name"
                    value={{@name}}>
                <input type="text" class="form-control" placeholder="Date" id="date" name="date" title="Date"
                    value={{@date}}>
                <input type="text" class="form-control" placeholder="Distance" id="distance" name="distance"
                    title="Distance" value={{@distance}}>
                <input type="text" class="form-control" placeholder="Phone Number" id="phone" name="phone"
                    value={{@phone}}>
                <input type="text" class="form-control" placeholder="Email" id="email" name="email" value={{@email}}>
                <input type="text" class="form-control" placeholder="City" id="city" name="city" value={{@city}}>
                <input type="text" class="form-control" placeholder="State" id="state" name="state" value={{@state}}>
                <input type="text" class="form-control" placeholder="Zipcode" id="zipcode" name="zipcode"
                    value={{@zipcode}}>
            </div>
            <button class="btn btn-success" type="submit">Create</button>
            <button title="Large Button" type="reset" class="btn btn-success">Reset</button>
        </form>
    </section>
</div>