<h1>Create Running Group</h1>
<form action="../running_group/create" method="post">
    <div class="text-input-container">
        <input type="text" id="name" name="name" title="Name" value={{@name}}>
        <label for="name">Name</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="pace" name="pace" value={{@pace}}>
        <label for="pace">Pace</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="phone" name="phone" value={{@phone}}>
        <label for="phone">Phone Number</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="city" name="city" value={{@city}}>
        <label for="city">City</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="state" name="state" value={{@state}}>
        <label for="state">State</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="zipcode" name="zipcode" value={{@zipcode}}>
        <label for="zipcode">Zipcode</label>
    </div>
    <button class="button primary" type="submit" onclick=alert("Created!")>Create</button>
    <button title="Large Button" type="reset" class="button primary">Reset</button>
</form>