
<form action="/user/create" method="post">
    <div class="text-input-container">
        <input type="text" class="form-control" placeholder="First name" id="first_name" name="first_name" title="First Name" value={{@first_name}}>
        <input type="text" class="form-control" placeholder="Last Name" id="last_name" name="last_name" value={{@last_name}}>
        <input type="text" class="form-control" placeholder="Email" id="email" name="email" value={{@email}}>
        <input type="password" class="form-control" placeholder="Password" id="password" name="password" value={{@password}}>
        <input type="text" class="form-control" placeholder="Phone Number" id="phone" name="phone" value={{@phone}}>
        <input type="text" class="form-control" placeholder="City" id="city" name="city" value={{@city}}>
        <input type="text" class="form-control" placeholder="State" id="state" name="state" value={{@state}}>
        <input type="text" class="form-control" placeholder="Zipcode" id="zipcode" name="zipcode" value={{@zipcode}}>
        <input type="text" class="form-control" placeholder="Age" id="age" name="age" value={{@age}}>
        <input type="text" class="form-control" placeholder="Desired Pace" id="desired_pace" name="desired_pace" value={{@desired_pace}}>
    </div>
    <button class="btn btn-black" type="submit">Create</button>
</form>
