<div class="container">
    <br>
    <nav class="navbar bg-transparent justify-content-between">
        {{!-- <a class="navbar-brand">Search for Running Groups</a> --}}
        <form class="form-inline" action="../running_group/" method="post">

            <input name="query" type="text" class="form-control" style="width:25rem;" placeholder="Keywords"
                value={{@query}}>

            <select name="selectpicker" class="custom-select selectpicker">
                <option value="All">All States</option>
                {{#each states}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <button class="btn btn-success my-2 my-sm-0 searchGroup" type="submit">Search</button>
        </form>
    </nav>
    <br>


    <br>
    <h4><a href="#" VALUE="Back" onClick="history.go(-1);">
            <i class="fas fa-chevron-left goBack"></i> Back
        </a>
    </h4>
    <h2>
        {{#if query}}
        Search Results for: {{query}}
        {{else}}
        <h2>All running groups
            {{/if}}
            {{#if state}}
            in {{state}}
            {{/if}}
        </h2>
        <hr>
        <section class="container-body-run-grp scrollbar scrollbar-deep-blue">
            <div class="row ">
                {{#each data }}
                <div class="card shadow p-3 mb-5 bg-light rounded" style="width: 30%;">
                    <div class="card-header">
                        <b>{{id}}. {{name}}</b>
                    </div>
                    <div class="card-body-run-grp scrollbar scrollbar-primary">
                        <p class="card-text">
                            <b>Average Pace:</b> <br>{{pace}}<br>
                            <b>Location:</b> <br>{{city}}, {{state}} {{zipcode}}<br>
                            <b>Phone:</b> <br>{{phone}}<br>
                        </p>
                        <hr>
                        <a href="../running_group/{{id}}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
        <br>
        <h4><a href="#" VALUE="Back" onClick="history.go(-1);">
                <i class="fas fa-chevron-left goBack"></i> Back
            </a></h4>
</div>