<div class="container">
    <div class="row">
    {{#each data }}

        <div class="card col-lg-4 col-sm-6 col-xs-12" style="width: 18rem;">
            <div class="card-header">
                <b>{{name}}</b>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <b>Average Pace:</b> <br>{{pace}}<br>
                    <b>Location:</b> <br>{{city}}, {{state}} {{zipcode}}<br>
                    <b>Phone:</b> <br>{{phone}}<br>
                </p>
                 <a href="running_group/{{id}}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    {{/each}}
    </div>
</div>
