<table class="standard-table alternating-rows">
    <thead>
        <tr>
            <th>
                <span>ID</span>
            </th>
            <th>
                <span>Name</span>
            </th>
            <th>
                <span>Pace</span>
            </th>
            <th>
                <span>City, State Zipcode</span>
            </th>
            <th>
                <span>Phone</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td><a href="running_group/{{id}}"> {{id}}</a></td>
            <td>{{name}}</td>
            <td>{{pace}}</td>
            <td>{{city}}, {{state}} {{zipcode}}</td>
            <td>{{phone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>