<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen, projection" />

    <title>Running Race Sign Up</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><i class="fas fa-running"></i>&nbsp;Ready, Set, Run!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/race">Races</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/running_group">Running Group</a>
                    </li>

                        <li class="nav-item">
                        {{#if user.id}}
                            <a class="nav-link" href="/user/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
                        </li>
                        {{#if user.admin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin Panel</a>
                        </li>
                        {{/if}}
                            <a class="nav-link" href="/user/logout/">Log Out</a>
                        {{else}}
                            <a class="nav-link" href="/user/create" data-toggle="modal" data-target=".log-sign">Login</a>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade bs-modal-sm log-sign" id="myModal" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <ul id="myTab" class="nav nav-tabs">
                    <li id="tab1" class="tab-style active"><a href="#login" data-toggle="tab">Log In</a>
                    </li>
                    <li id="tab2" class=" tab-style "><a href="#signup" data-toggle="tab">Sign Up</a>
                    </li>
                </ul>

                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="login">
                            <form action="user/login" method="post">
                                <div class="text-input-container">
                                    <input type="text" class="form-control" placeholder="Email" id="email" name="email" value={{@email}}>
                                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" value={{@password}}>
                                </div>
                                <button class="btn btn-secondary" type="submit">Login</button>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="signup">
                            <form action="/user/" method="post">
                                <div class="text-input-container">
                                    <input type="text" class="form-control" placeholder="First name" id="first_name" name="first_name" title="First Name" value={{@first_name}}>
                                    <input type="text" class="form-control" placeholder="Last Name" id="last_name" name="last_name" value={{@last_name}}>
                                    <input type="text" class="form-control" placeholder="Email" id="email" name="email" value={{@email}}>
                                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" value={{@password}}>
                                    <input type="text" class="form-control" placeholder="Phone Number" id="phone" name="phone" value={{@phone}}>
                                    <input type="text" class="form-control" placeholder="City" id="city" name="city" value={{@city}}>
                                    <input type="text" class="form-control" placeholder="State" id="state" name="state" value={{@state}}>
                                    <input type="text" class="form-control" placeholder="Zipcode" id="zipcode" name="zipcode" value={{@zipcode}}>
                                    <input type="text" class="form-control" placeholder="Age" id="age" name="age" value={{@age}}>
                                    <input type="text" class="form-control" placeholder="Desired Pace" id="desired_pace" name="desired_pace" value={{@desired_pace}}>
                                </div>
                                <button class="btn btn-secondary" type="submit">Create</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!--modal2-->

    <div class="modal fade bs-modal-md" id="forgot-password" tabindex="0" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Please enter your email address and we will
                        send you the
                        directions.</h6>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="group">
                                <input required="" class="input" type="text"><span class="highlight"></span><span
                                    class="bar"></span>
                                <label class="label" for="date">Email address</label>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="forpassword"></label>
                                <div class="controls">
                                    <button id="forpasswodr" name="forpassword"
                                        class="btn btn-primary btn-block">Send</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>

        </div>
    </div>



    <div class="content container-fluid">
        <br><br><br><br>
        {{{body}}}
        <br><br>
    </div>
    <script src="/javascript/user.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 myCols">

                <ul>
                    <li><h5>Get started</h5></li>
                    <li><a href="/user/create">Home</a></li>
                    <li><a href="/race">Races</a></li>
                    <li><a href="/running_group">Running Groups</a></li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                
                <ul>
                    <li><h5>About us</h5></li>
                    <li><a target="_blank" href="https://github.com/elizabeth-phillips">Elizabeth
                            Phillips</a></li>
                    <li><a target="_blank" href="https://github.com/shwetarane">Shweta Rane</a></li>
                    <li><a target="_blank" href="https://www.txstate.edu/">Texas State University</a></li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                
                <ul>
                    <li><h5>Contact Us</h5></li>
                    <li>Texas State University</li>
                    <li>601 University Dr</li>
                    <li>San Marcos, TX 78666</li>
                </ul>
            </div>
        </div>
    </div>

</footer>



</html>