<div class="jumbotron">
    {{#if @logo}}
        <div class="col-md-4 mb-5">
            <img src="{{@logo}}">
        </div>
    {{/if}}
    <h1 class="display-4">{{@name}} Info</h1>
    <div class="row">
        <section class="col-md-6">
            <h2> User Info</h2>
            <table style="width:80%">
                <tr>
                    <td><b>Distances</b>  </td>
                    <td>{{@distances}}</td>
                </tr>
                <tr>
                    <td><b>Location</b> </td>
                    <td> {{@city}}, {{@state}} {{@zipcode}}</td>
                </tr>
                <tr>
                    <td><b>Phone</b> </td>
                    <td>{{@phone}}</td>
                </tr>
                <tr>
                    <td><b>Url</b> </td>
                    <td><a href="{{@url}}">{{@url}}</a></td>
                </tr>
            </table>
            <br>
            {{#if user.first_name}}
                <button onClick= "signUpRace()" type="submit" class="btn btn-primary">Sign Up</button>
            {{/if}}
            <br><br>
            <a href="/race/"><button class="btn btn-primary">View All Races</button></a>
        </section>
        <section class="col-md-6">
        <form action="/race/signup/{{@name}}" method="post" id="race_signup" class="col-md-8">
            
            <div class="text-input-container">
                {{!-- <p><b>Choose the distance: </b></p> --}}

                <select name="selectpicker" class="selectpicker col-sm-2 mx-3" form="search_results"  style="max-width:90%;" value={{race}} >
                    <option hidden>Choose Distance</option>
                    {{#each distances}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div><br>
            <button  type="submit" class="btn btn-primary">Done</button>
        </form>
        </section>
    </div>
</div>
