
<div class="container"> 
    
    <div class="row">
        <br><br><br>
        <div class="col-md-6 mb-5">
            <h1>{{@name}} Info</h1>
        </div>
        <div class="col-md-6 mb-5">
            {{@name}} <br>
            {{@date}} <br>
            {{@distance}} Miles <br>
            Location: {{@city}}, {{@state}} {{@zipcode}}<br>
            Phone: {{@phone}}<br>
            Email: {{@email}}
        </div>
    </div>
    <a href="/race/"><button>View All Races</button></a>
</div>