<div class="jumbotron">
    {{#if @logo}}
        <div class="col-md-4 mb-5">
            <img src="{{@logo}}">
        </div>
    {{/if}}
    <h1 class="display-4">{{@name}} Info</h1>
    <div class="row">
        <div class="container"> 
            <div class="col-md-6 mb-5">
                <b>Distances:</b>{{@distances}} <br>
                <b>Location:</b> {{@city}}, {{@state}} {{@zipcode}}<br>
                <b>Phone:</b> {{@phone}}<br>
                <b>URL:</b> <a href="{{@url}}">{{@url}}</a>
            </div>
            {{#if user.first_name}}
                <a href="/race/signup/{{@name}}"><button class="btn btn-primary">Sign Up</button></a>
            {{/if}}
            <br><br>
            <a href="/race/"><button class="btn btn-primary">View All Races</button></a>
        </div>
    </div>
</div>
