<div class="main">

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5">
            
        </div>
        <div class="col-md-6 mb-5">

            <h1>{{@name}} Info</h1>
            <table class="standard-table alternating-rows">
                <tr><td>Pace</td><td>{{@pace}}</td></tr>
                <tr><td>Location</td><td>{{@city}}, {{@state}} {{@zipcode}}</td></tr>
                <tr><td>Phone</td><td>{{@phone}}</td></tr>
            </table>
            <a href="/running_group/"><button>View All Running Groups</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
        </div>
    </div>
</div>