<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <form action="../race/" method="post" id="search_results">
                <input name="query" type="text" class="form-control raceInput" placeholder="Keywords" value={{@query}}>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3">
            <select name="selectpicker" class="custom-select selectpicker dropDownRace" form="search_results">
                <option value="All">All States</option>
                {{#each states}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"><button type="submit" class="btn btn-primary searchRace" style="width:80%;height:80%">Search</button>
        </div>
        </form>
    </div>
    <br>
    <a href="#" VALUE="Back" onClick="history.go(-1);">
        <i class="fas fa-chevron-left goBack"></i> Back
        </a>

        <h3>Recommendations</h3>

    {{#if user.first_name}}
        <div class="row">
            {{#each recommends }}
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 30%;">
                <img class="card-img-top center-image" src="{{logo}}" alt="Race Logo">
                <div class="card-body scroll">
                    <h5 class="card-title">{{name}}</h5>
                    <hr>
                    <h6>{{format_date date}}</h6>
                    <p class="card-text ">
                        {{distances}}<br>
                        <b>Location:</b> {{city}}, {{state}} {{zipcode}}<br>
                        <b>Phone:</b> {{phone}}<br>
                        <b>URL:</b> <a href="{{url}}">{{url}}</a>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="../race/upcoming/{{name}}" class="btn btn-primary">View Details</a>
                </div>
            </div>
            {{/each}}
        </div>
    {{/if}}


    <br>

    <h2>
        {{#if query}}
        Search Results for: {{query}}
        {{else}}
        <h2>All races
            {{/if}}
            {{#if state}}
            in {{state}}
            {{/if}}
        </h2>
        <hr>
        <div class="row">
            {{#each data }}
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 30%;">
                <img class="card-img-top center-image" src="{{logo}}" alt="Race Logo">
                <div class="card-body scroll">
                    <h5 class="card-title">{{name}}</h5>
                    <hr>
                    <h6>{{format_date date}}</h6>
                    <p class="card-text ">
                        {{distances}}<br>
                        <b>Location:</b> {{city}}, {{state}} {{zipcode}}<br>
                        <b>Phone:</b> {{phone}}<br>
                        <b>URL:</b> <a href="{{url}}">{{url}}</a>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="../race/upcoming/{{name}}" class="btn btn-primary">View Details</a>
                </div>
            </div>
            {{/each}}
        </div>
        <br>
        <a href="#" VALUE="Back" onClick="history.go(-1);">
        <i class="fas fa-chevron-left goBack"></i> Back
        </a>
</div>