<h1>Login</h1>

<div class="sidenav">
         <div class="login-main-text">
            <h2>Login</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-3 col-sm-6">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>User Name</label>
                     <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-black">Login</button>
                  <button type="submit" class="btn btn-secondary">Register</button>
               </form>
            </div>
         </div>
      </div>
<form action="/user/create" method="post">
<div class="text-input-container">
        <input type="text" id="first_name" name="first_name" title="First Name" value={{@first_name}}>
        <label for="first_name">First Name</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="last_name" name="last_name" value={{@last_name}}>
        <label for="last_name">Last Name</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="phone" name="phone" value={{@phone}}>
        <label for="phone">Phone Number</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="city" name="city" value={{@city}}>
        <label for="city">City</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="state" name="state" value={{@state}}>
        <label for="state">State</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="zipcode" name="zipcode" value={{@zipcode}}>
        <label for="zipcode">Zipcode</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="age" name="age" value={{@age}}>
        <label for="age">Age</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="desired_pace" name="desired_pace" value={{@desired_pace}}>
        <label for="desired_pace">Desired Pace</label>
    </div>
    <button class="button primary" type="submit" onclick=alert("Created!")>Create</button>
    <button title="Large Button" type="reset" class="button primary">Reset</button>
</form>