<h1>{{@first_name}} {{@last_name}} Info</h1>

<form action="/race/update/{{@id}}" method="post">
    <div class="text-input-container">
        <input type="text" id="first_name" name="first_name" title="First Name" value={{@first_name}}>
        <label for="first_name">First Name</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="last_name" name="last_name" value={{@last_name}}>
        <label for="last_name">Last Name</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="phone" name="phone" value={{@phone}}>
        <label for="phone">Phone Number</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="city" name="city" value={{@city}}>
        <label for="city">city</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="state" name="state" value={{@state}}>
        <label for="state">state</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="zipcode" name="zipcode" value={{@zipcode}}>
        <label for="zipcode">zipcode</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="age" name="age" value={{@age}}>
        <label for="age">Age</label>
    </div>
    <div class="text-input-container">
        <input type="text" id="desired_pace" name="desired_pace" value={{@desired_pace}}>
        <label for="desired_pace">Desired Pace</label>
    </div>
    <button type="submit" class="button primary" onclick=alert("Updated!")>Update</button>
    <button class="button primary" formaction="/user/delete/{{@id}}" type="submit" onclick=alert("Deleted")>Delete</button>

</form>