<table class="standard-table alternating-rows">
    <thead>
        <tr>
            <th>
                <span>ID</span>
            </th>
            <th>
                <span>First Name</span>
            </th>
            <th>
                <span>Last Name</span>
            </th>
            <th>
                <span>Phone Number</span>
            </th>
            <th>
                <span>City, State Zipcode</span>
            </th>
            <th>
                <span>Age</span>
            </th>
            <th>
                <span>Desired Pace</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td><a href="user/showbyid/{{id}}"> {{id}}</a></td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{phone}}</td>
            <td>{{city}}, {{state}} {{zipcode}}</td>
            <td>{{age}}</td>
            <td>{{desired_pace}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>